[Desktop Entry]
Version=1.0
Type=Application
Name=Popcorn Time
GenericName=Popcorn Time
Comment=Watch Movies and TV Shows instantly
Exec=Popcorn-Time
TryExec=Popcorn-Time
Icon=popcorn-time
Terminal=false
Categories=AudioVideo;Applications;
StartupNotify=true
